# Node modules
/node_modules/

# Environment variables
.env

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Build output
/build
/dist

# Temporary files
*.tmp
*.swp

# IDE/editor files
.vscode/
.idea/

# Cloudinary files
/public/uploads/

package-lock.json